In [2]:
import numpy as np
import pandas as pd
import requests
import re
import time
from bs4 import BeautifulSoup
from selenium import webdriver

In [3]:
url = 'https://agmarknet.gov.in/SearchCmmMkt.aspx?Tx_Commodity=24&Tx_State=UP&Tx_District=1&Tx_Market=0&DateFrom=01-Jan-2020&DateTo=31-Dec-2020&Fr_Date=20-Mar-2021&To_Date=20-Mar-2021&Tx_Trend=0&Tx_CommodityHead=Potato&Tx_StateHead=Uttar+Pradesh&Tx_DistrictHead=Agra&Tx_MarketHead=--Select--'
driver = webdriver.Chrome('/home/hokage/HTMedia/chromedriver_linux64/chromedriver')
driver.get(url)

In [4]:
df_cols = []
df_rows = []

itr = 0
while(1):
    print(f'Scraping Page:{itr+1}')
    soup = BeautifulSoup(driver.page_source, 'lxml')
    table = soup.find_all('table', attrs={'class':'tableagmark_new'})[0]
    body = table.find_all('tr')
    table_rows = body[1:]
    if(itr == 0):
        header = body[0]
        for i in header.find_all('th'):
            df_cols.append(i.get_text())

    for i in range(len(table_rows)):
        row_data = []
        for j in table_rows[i].find_all('td'):
            tmp = j.get_text()
            tmp = str(tmp).strip()
            row_data.append(tmp)
        df_rows.append(row_data)
    
    try:
        driver.find_element_by_xpath('//input[@src="../images/Next.png"]').click()
    except:
        print('Scraping Done')
        driver.close()
        break
    itr = itr + 1
    time.sleep(5)

In [19]:
df = pd.DataFrame(df_rows, columns=df_cols)
df = df.dropna()
df.head()

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
0,1,Agra,Achnera,Potato,Desi,FAQ,900,1000,950,30 Dec 2020
1,2,Agra,Achnera,Potato,Desi,FAQ,800,900,850,29 Dec 2020
2,3,Agra,Achnera,Potato,Desi,FAQ,850,950,900,28 Dec 2020
3,4,Agra,Achnera,Potato,Desi,FAQ,800,900,850,27 Dec 2020
4,5,Agra,Achnera,Potato,Desi,FAQ,800,900,850,26 Dec 2020

In [28]:
num_cols = ['Sl no.', 'Min Price (Rs./Quintal)', 'Max Price (Rs./Quintal)', 'Modal Price (Rs./Quintal)']

df[num_cols] = df[num_cols].astype(float) 
df['Price Date'] = pd.to_datetime(df['Price Date'])
df.head()

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
1898,1827.0,Agra,Samsabad,Potato,Local,FAQ,1100.0,1300.0,1200.0,2020-01-01
317,306.0,Agra,Achnera,Potato,Desi,FAQ,1300.0,1400.0,1350.0,2020-01-01
1377,1326.0,Agra,Jagnair,Potato,Desi,FAQ,1250.0,1350.0,1300.0,2020-01-01
1724,1659.0,Agra,Khairagarh,Potato,Desi,FAQ,1200.0,1300.0,1250.0,2020-01-01
1182,1139.0,Agra,Fatehpur Sikri,Potato,Local,FAQ,1400.0,1520.0,1455.0,2020-01-01

In [1]:
df.to_csv('2020_Potato_Agra_Price.csv', index=False)

NameError: name 'df' is not defined